<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- <link href="css/upload_design.css" rel="stylesheet" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">About Us</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>


    <section class="h-100 h-custom" style="background-color: #dfeaad;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxYbKEuk5bQTbnvz17685wEx6bN8lppOG9wTo6hLCfUwUfIT32aSSz7o1B-3XjaMS9Udk&usqp=CAU"
                            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                            alt="Sample photo">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Know Us</h3>
                            <p>There are many websites available on the internet which provide their own custom designs
                                on t-shirts, phone-covers and shoes but there is no website that gives the option to put
                                the designs that we want to put on our belongings. Tee flex gives the
                                opportunity for the artists to put their designs on the platform and earn commissions if
                                the consumer selects their design for custom t-shirts. The user can choose from the
                                options available as well as give us a picture of the design that he wants to use and
                                the product will be delivered to their homes hassle-free. Easy to use interface and
                                variety of filters available make it very easy for the user to choose the desired option
                                and order stuff easily. The consumer can follow their favorite artists and get notified
                                whenever a new design is posted by the artist.
                            </p>
                            <br>
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Terms and Conditions</h3>
                            <p>
                            <ul>
                                <li>All the uploaded designs must be original and must be owned by the designer
                                    uploading the same</li>
                                <li>The designs must have a transparent background and should be in png format</li>
                                <li>The artist must not upload the same design on similar platforms</li>

                            </ul>
                            </p>
                            <p>For any complaints, mail us at jainsamyak.sj.24@gmail.com</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
    </form> -->


    <!-- <div class="frame">
        <div class="center">
            <div class="title">
                <h1>Drop Image to upload</h1>
            </div>
    
            <div class="dropzone">
                <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                <input type="file" class="upload-input" />
            </div>
    
            <button type="button" class="btn" name="uploadbutton">Upload file</button>
    
        </div>
    </div> -->
</body>

</html>