<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">



    <title>Delete Design</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Uploaded Designs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user_designs">Uploaded Designs</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>



    <section class="h-100 h-custom" style="background-color: #85ccaa;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img src="https://assets.telegraphindia.com/telegraph/2020/Sep/1600593720_1shutterstock_406413301.jpg"
                            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                            alt="Sample photo">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Delete Your Design</h3>

                            <form class="px-md-2" id="form" method="POST" action="/delete">


                                <div class="form-outline mb-4">
                                    <label for="des_name" class="form-label">Design Name</label>
                                    <input type="text" class="form-control" id="des_name" name="des_name" required>
                                </div>


                                <div class="alert alert-danger" role="alert" id="error" style="display: none;"></div>
                                <div class="alert alert-success" role="alert" id="success" style="display: none;"></div>

                                <button type="submit" class="btn btn-primary">Delete</button>

                            </form>

                            <% if(mess.length> 0) {%>
                                <p>
                                    <%=mess %>
                                </p>
                                <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>